html {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #1c2841 95%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #1c2841),
    url('https://i.imgur.com/Kk5pDWj.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -120px 0;
    background-color: #1c2841;
}
.App {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    .prof {
        width: 40%;
        .logo {
            width: 30%;
            position: fixed;
        }
    }
    .play {
        width: 60%;
        color: #F8F0E3;
        background-color: #1c2841;
        .navbar {
            background-color: rgb(46, 41, 74);
            position: fixed;
            width: 55%;
            border: solid black;
            border-radius: 30px;
            margin-top: 40px;
            padding: 20px;
        }
    }
}


.nav {
    display: flex;
    justify-content: space-around;
    .links {
        text-decoration: none;
        :hover {
            cursor: pointer
        }
    }
}

.section {
    min-height: 800px;
}

.home {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    .intro {
        text-align: left;
    }
    #name {
        font-size: 100px;
        margin-top: -20px;
        margin-bottom: -20px;
        color: white;
        font-family: 'Roboto Slab', serif;
    }
}

.about {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
}

.contact {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
}

.working {
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.project {
    text-align: center;
    border: solid black 2px;
    border-radius: 2px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    max-width: 300px;
    min-height: 500px;
}

