@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
}

@keyframes fallIn {
    0% {
        transform: translateY(-900px);
      }
      100% {
        transform: translateY(0);
      }
}

@keyframes riseIn {
    0% {
        transform: translateY(1200px);
      }
      100% {
        transform: translateY(0);
      }
}

html {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #1c2841 95%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #1c2841),
    url('https://i.imgur.com/Kk5pDWj.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -120px 0;
    background-color: #1c2841;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    position: relative;
}
.App {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    animation: slideIn 1.5s ;
    .prof {
        width: 40%;
        .logo {
            width: 30%;
            position: fixed;
            cursor: pointer;
        }
    }
    .play {
        width: 60%;
        color: #F8F0E3;
        background-color: #1c2841;
        .navbar {
            animation: fallIn 5s ;
            background: radial-gradient(circle at center, #2c3549, rgba(0,0,0,0));
            position: fixed;
            width: 55%;
            z-index: 7;
            border-radius: 30px;
            margin-top: 40px;
            padding: 20px;
        }
    }
}

.hub {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    margin-left: 20px;
    animation: slideIn 6s ;
    img {
        width: 50px;
        margin-left: 30px;
        opacity: 45%;
    }
    a{
        top: 0;
        position: relative;
        transition: top ease 0.3s;
    }
    a:hover {
        top: -8px;
    }
    P {
        opacity: 45%;
        color: white;
        margin-left: 20px;
    }
    #res {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -30px;
        text-decoration: none;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        #res-text {
            margin-left: 30px;
            margin-bottom: 0px;
            opacity: 45%;
        }
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    animation: riseIn 5s;
    font-size: 9px;
    width: 500px;
    position: fixed;
    bottom: 10px;
    background: radial-gradient(farthest-side at 60% 55%, #2c3549, rgba(0,0,0,0));
    p {
        opacity: 75%;
        width: 700px;
        img {
            margin-bottom: -2%;
            padding: 1%;
            width: 60px;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-around;
}
.links {
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.links:hover {
        cursor: pointer;
        top: -5px;
}


.section {
    min-height: 800px;
}

.home {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    .intro {
        text-align: left;
    }
    #name {
        font-size: 100px;
        margin-top: -20px;
        margin-bottom: -20px;
        color: white;
        font-family: 'Roboto Slab', serif;
        animation: slideIn 2s;
    }
    .thanks {
        white-space: nowrap;
    }

}


.f-list {
    list-style: none;
    animation: slideIn 3s;
}

.about {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
}

.lstack {
    .lstack-desc{
        text-align: center;
        padding-top: 100px;
        margin-right: 25%;
        margin-left: 25%;
    }
    
}

.contact {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    form {
        textarea {
            height: 200px;
            width: 150%;
            display: flex;
            margin-top: 20px;
            background-image: linear-gradient(to right, #1c2841 , gray);
            font-family: 'Titillium Web', sans-serif;
            outline: none;
            color: white;
            margin-left: -75px;
        }
        textarea:focus {
            outline: none;
        }
        .fields {
            display: flex;
            height: 30px;
            gap: 5px;
            flex-wrap: wrap;
            padding: 5px;
            input {
                background-color: #1c2841;
                border-width: 0 0 2px;
                border-color: white;
                color: white;
            }
            input:focus {
                outline: none !important;
            }
        }
        button {
            margin-top: 20px;
            border: solid #091020 1px;
            border-radius: 10px;
            padding: 5px;
        }
        button:hover {
            cursor: pointer;
            animation: effect 0.4s;
        }
    }
}

.working {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.project {
    text-align: center;
    position: relative;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    max-width: 800px;
    height: 400px;
    justify-content: space-around;
    .p-name {
        position: absolute;
        top: 10px;
        left: 50px;
    }
    .p-desc {
        position: relative;
        top: 70px;
        right: -10px;
        max-width: 600px;
    }
}
.p-mac {
    img {
        width: 300px;
    }
}

.imgs {
    width: 50px;
}
.imgs:hover {
    animation: effect 0.4s;
}
.plinks-cont {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.plinks {
    text-decoration: none;
    color: black;
    background-color: white;
    width:50px;
    height: 20px;
    border: solid #091020 1px;
    border-radius: 10px;
    padding-bottom: 5px;
}
.plinks:hover {
    animation: effect 0.4s;
    opacity: 50%;
}
.p-tech {
    position: relative;
    margin-top: 25px;
    max-height: 300px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    img {
        width: 75px;
    }
}

.lstack-logos {
    position: relative;
    margin-top: 25px;
    max-height: 500px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    #heroku {
        width: 70px;
    }
    img {
        width: 100px;
    }
}

//! MOBILE RESPONSE --------------------------------------------------------------

@media only screen and (max-width:600px) {
    * {
        font-size: small; 
    }
    #name {
        margin-left: -10px;
    }
    html {
        background: linear-gradient(to bottom, #1c2841, rgba(0,0,0,0));
        background-size: 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: -120px 0;
        background-color: #1c2841;
        width: 600px;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
        position: relative
    }
    .App {
        display: flex;
        font-family: 'Titillium Web', sans-serif;
        animation: slideIn 1.5s;
        width: 375px;
        .prof {
            width: 0%;
            .logo {
                width: 40%;
                position: fixed;
                
                cursor: pointer;
            }
        }
        .play {
            margin-top: 70px;
            background-color: rgba(0,0,0,0);
            width: 100%;
            .navbar {
                position: fixed;
                margin-left: 1000px;
                margin-top: 1500px;
                background: none;
            }
        }
    }

    .home {
        margin-left: 10%;
        margin-right: 10%;
    }
    .intro {
        margin-bottom: 20%;
    }
    .about {
        margin-right: 10%;
        margin-left: 10%;
        padding: 0 0 0 0;
        margin-bottom: -20%;
    }
    .lstack {
        margin-top: -60%;
    }
    #projects {
        margin-top: 300px;
    }
    .project {
        height: 700px;
    }
    .nav {
        position: fixed;
        display: flex;
        flex-direction: column;
    }
    .hub {
        position: fixed;
        margin-top: 200%;
        margin-left: -20px;
        background: linear-gradient(to top, #1c2841 50%, rgba(0,0,0,0));
        height: 100px;
        flex-wrap: wrap;
        z-index: 100;
        margin-bottom: -10%;
        p {
            font-size: small;
        }
        img {
            width: 40px;
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        animation: riseIn 5s;
        font-size: 9px;
        width: 0;
        position: fixed;
        left: -100px;
        bottom: 10px;
        background: radial-gradient(farthest-side at 60% 55%, #2c3549, rgba(0,0,0,0));
        p {
            opacity: 75%;
            width: 0;
            img {
                margin-bottom: -2%;
                padding: 1%;
                width: 0;
            }
        }
    }
    .contact {
        text-align: center;
        padding-top: 100px;
        margin-right: 25%;
        margin-left: 25%;
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        form {
            margin-left: 30px;
            textarea {
                height: 200px;
                width: 150%;
                display: flex;
                margin-top: 40px;
                background-image: linear-gradient(to right, #1c2841 , gray);
                font-family: 'Titillium Web', sans-serif;
                outline: none;
                color: white;
                margin-left: -65px;
            }
            textarea:focus {
                outline: none;
            }
            .fields {
                display: flex;
                height: 30px;
                gap: 5px;
                flex-wrap: wrap;
                padding: 5px;
                input {
                    background-color: #1c2841;
                    border-width: 0 0 2px;
                    border-color: white;
                    color: white;
                }
                input:focus {
                    outline: none !important;
                }
            }
            button {
                margin-top: 20px;
                border: solid #091020 1px;
                border-radius: 10px;
                padding: 5px;
                margin-right: 20px;
            }
            button:hover {
                cursor: pointer;
                animation: effect 0.4s;
            }
        }
    }
}

@media only screen and (max-width:400px) {
    * {
        font-size: small; 
    }
    #name {
        margin-left: -10px;
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        animation: riseIn 5s;
        font-size: 9px;
        width: 0;
        position: fixed;
        left: -100px;
        bottom: 10px;
        background: radial-gradient(farthest-side at 60% 55%, #2c3549, rgba(0,0,0,0));
        p {
            opacity: 75%;
            width: 0;
            img {
                margin-bottom: -2%;
                padding: 1%;
                width: 0;
            }
        }
    }
    html {
        background: linear-gradient(to bottom, #1c2841, rgba(0,0,0,0));
        background-size: 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: -120px 0;
        background-color: #1c2841;
        width: 600px;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
        position: relative
    }
    .App {
        display: flex;
        font-family: 'Titillium Web', sans-serif;
        animation: slideIn 1.5s;
        width: 375px;
        .prof {
            width: 0%;
            .logo {
                width: 40%;
                position: fixed;
                
                cursor: pointer;
            }
        }
        .play {
            margin-top: 70px;
            background-color: rgba(0,0,0,0);
            width: 100%;
            .navbar {
                position: fixed;
                margin-left: 1000px;
                margin-top: 1500px;
                background: none;
            }
        }
    }

    .home {
        margin-left: 10%;
        margin-right: 10%;
    }
    .intro {
        margin-bottom: 20%;
    }
    .about {
        margin-right: 10%;
        margin-left: 10%;
        padding: 0 0 0 0;
        margin-bottom: -20%;
    }
    .lstack {
        margin-top: -60%;
    }
    #projects {
        margin-top: 300px;
    }
    .project {
        height: 700px;
    }
    .nav {
        position: fixed;
        display: flex;
        flex-direction: column;
    }
    .hub {
        position: fixed;
        margin-top: 200%;
        margin-left: -20px;
        background: linear-gradient(to top, #1c2841 50%, rgba(0,0,0,0));
        height: 100px;
        flex-wrap: wrap;
        z-index: 100;
        margin-bottom: -10%;
        p {
            font-size: small;
        }
        img {
            width: 40px;
        }
    }
    .contact {
        text-align: center;
        padding-top: 100px;
        margin-right: 25%;
        margin-left: 25%;
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        form {
            margin-left: 30px;
            textarea {
                height: 200px;
                width: 150%;
                display: flex;
                margin-top: 40px;
                background-image: linear-gradient(to right, #1c2841 , gray);
                font-family: 'Titillium Web', sans-serif;
                outline: none;
                color: white;
                margin-left: -65px;
            }
            textarea:focus {
                outline: none;
            }
            .fields {
                display: flex;
                height: 30px;
                gap: 5px;
                flex-wrap: wrap;
                padding: 5px;
                input {
                    background-color: #1c2841;
                    border-width: 0 0 2px;
                    border-color: white;
                    color: white;
                }
                input:focus {
                    outline: none !important;
                }
            }
            button {
                margin-top: 20px;
                border: solid #091020 1px;
                border-radius: 10px;
                padding: 5px;
                margin-right: 20px;
            }
            button:hover {
                cursor: pointer;
                animation: effect 0.4s;
            }
        }
    }
}

#aoc-links {
    margin-top: 55px;
}