@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #1c2841 95%), linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #1c2841),
    url('https://i.imgur.com/Kk5pDWj.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -120px 0;
    background-color: #1c2841;
}
.App {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    animation: fadeIn 1s 1;
    .prof {
        width: 40%;
        .logo {
            width: 30%;
            position: fixed;
            cursor: pointer;
        }
    }
    .play {
        width: 60%;
        color: #F8F0E3;
        background-color: #1c2841;
        .navbar {
            background: radial-gradient(circle at center, #2c3549, rgba(0,0,0,0));
            position: fixed;
            width: 55%;
            border-radius: 30px;
            margin-top: 40px;
            padding: 20px;
        }
    }
}

.hub {
    display: flex;
    justify-content: space-around;
    position: fixed;
    margin-top: 45%;
    margin-left: 20px;
    img {
        width: 50px;
        margin-left: 30px;
        opacity: 45%;
    }
    a{
        top: 0;
        position: relative;
        transition: top ease 0.3s;
    }
    a:hover {
        top: -8px;
    }
    #res {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -30px;
        text-decoration: none;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        #res-text {
            margin-left: 30px;
            margin-bottom: 0px;
            opacity: 45%;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-around;
}
.links {
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.links:hover {
        cursor: pointer;
        top: -5px;
}


.section {
    min-height: 800px;
}

.home {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    .intro {
        text-align: left;
    }
    #name {
        font-size: 100px;
        margin-top: -20px;
        margin-bottom: -20px;
        color: white;
        font-family: 'Roboto Slab', serif;
    }
}

.f-list {
    list-style: none;
}

.about {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
}

.contact {
    text-align: center;
    padding-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    form {
        
        textarea {
            height: 200px;
            width: 600px;
            display: flex;
            margin-top: 20px;
        }
    }
}

.working {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.project {
    text-align: center;
    position: relative;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    max-width: 800px;
    height: 400px;
    justify-content: space-around;
    .p-name {
        position: absolute;
        top: 10px;
        left: 50px;
    }
    .p-desc {
        position: relative;
        top: 70px;
        right: -10px;
        max-width: 600px;
    }
}
.p-mac {
    img {
        width: 300px;
    }
}

.imgs {
    width: 50px;
}
.imgs:hover {
    animation: effect 0.4s;
}
.plinks-cont {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.plinks {
    text-decoration: none;
    color: black;
    background-color: white;
    width:50px;
    height: 20px;
    border: solid #091020 1px;
    border-radius: 10px;
    padding-bottom: 5px;
}
.plinks:hover {
    animation: effect 0.4s;
}
.p-tech {
    position: relative;
    margin-top: 25px;
    max-height: 300px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    img {
        width: 75px;
    }
}